.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  width: 100%;
  user-select: none;

  h1 {
    font-size: 2rem;
    color: white;
    padding: 0.25rem 0;
    span {
      font-size: 1.25rem;
    }
  }
}
